/* .circle-size{
  border-radius: 20px;
}


table{
  margin-left:100px;
}

td{
  margin-left:-20px
}

td .vl {
  border-left: 10px solid green;
  width:30px;
  height: 30px;
} */

.dot {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

td{
  height:5px;
  width:5px;
}

td .verticalLine {
  height:30px;
  width:5px;
  border-left: 1px solid red;

}
